body {
	background-color: #d9e0e485 !important;
	color: #8a8c96 !important;
}
.about-card {
	background-color: white;
	margin-top: 4rem;
	border-radius: 5px;
	padding: 30px;
	box-shadow: 0px 0px 4px 2px #d3d3d3a3;
}
.author-image {
	width: fit-content;
    border-radius: 100%;
    border: 5px solid #d3d3d3a3;
}
.author-image > img {
	width: 250px;
    border-radius: 100%;
}
