/***********************/
/*xl and below*/

/**********************/

/***********************/
/*lg and below*/

/**********************/

/***********************/
/*md and below*/
@media only screen and (max-width: 768px) {
	.place-box {
		flex-direction: column;
	}
	.place-image {
		text-align: center;
	}
	.place-image > img {
		width: 100%;
	}
	.place-box, .place-locate > button {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 0px;
	}
}
/**********************/

/***********************/
/*sm and below*/

/**********************/

/***********************/
/*xs and below*/

/**********************/

/***********************/
/*lg to xl*/
@media only screen and (min-width: 992px) {
	.oneThird-left-pane {
		width: 25%;
	}
	.twoThird-right-pane {
		width: 70%;
	}
	.filter-sublist {
		flex-direction: column;
	}
}
/**********************/

/***********************/
/*md to lg*/
@media only screen and (max-width: 992px) {
	.oneThird-left-pane {
		width: 100%;
		margin-bottom: 30px;
	}
	.twoThird-right-pane {
		width: 100%;
	}
	.oneThird-left-pane, .twoThird-right-pane {
		margin-left: 10px;
		margin-right: 10px !important;
	}
	.filter-sublist {
		flex-direction: row;
	}
}

/**********************/

/***********************/
/*sm to md*/

/**********************/

/***********************/
/*xs to sm*/
@media only screen and (max-width: 385px) {
	.mood, .time, .season {
		flex-direction: column;
	}
}
/**********************/
